VITE_FIREBASE_API_KEY=AIzaSyB8Yiq38MBwar6qNagmc8BDSNcCH9hbqk0
VITE_FIREBASE_AUTH_DOMAIN=aifounderblueprint.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aifounderblueprint
VITE_FIREBASE_STORAGE_BUCKET=aifounderblueprint.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=628409331392
VITE_FIREBASE_APP_ID=1:628409331392:web:1a6731daf0efe89bfd4725
