# Stripe Secret Key (found in Stripe Dashboard -> Developers -> API keys)
STRIPE_SECRET_KEY=sk_test_...

# Stripe Webhook Secret (found when you create a webhook endpoint in Stripe Dashboard)
STRIPE_WEBHOOK_SECRET=whsec_...

# Firebase Admin Service Account JSON stringified 
# (You get this JSON file from Firebase Console -> Project Settings -> Service Accounts -> Generate new private key)
# Example: {"type":"service_account","project_id":"...
FIREBASE_SERVICE_ACCOUNT={}

PORT=4242
